@font-face {
  font-family: 'light';
  src: url('../../assets/fonts/HeirofLightRegular.ttf');
}

#player-profile {
  font-family: 'light';
  color: white;
}


#player-profile > h1 {
  margin-left: 5%;
}

.pp-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.pp-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.pp-title {
  width: 50%;
  margin-bottom: 2%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pp-title-item {
  width: 100%;
  margin-bottom: 2%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.pp-title-look {
  width: 50%;
  height: 4vh;
  margin-bottom: 2%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.pp-container-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}


.gameprofile-subtitle {
  font-weight: bold;
  font-size: 1em;
  margin-right: 3px;
  color: #f2df72
}

.pp-userinfo {
  font-size: 1em;
  margin-left: 3%;
  word-wrap: break-word;
}

.stat-title  {
  margin-bottom: 2%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  flex-wrap: wrap;
}

.stat-arrow {
  width: 20px;
  height: 20px;
  margin-top: 2%;
}


.stat-arrow:hover {
  cursor: pointer;
  opacity: 60%;
}

.jobimg {
  width: 200px;
  height: 200px;
}

.stat-skill {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.item-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.weapon-armor {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stat-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}