.login-background {
    background: url(../../assets/image/desert-4779167222.png);
    background-size: cover;
    background-attachment: fixed;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-login {
    padding-top: 7%;
    padding-left: 40%;
    width: 60%;
    height: 80%;
}
#login-text { 
    color: #FFC860;
}

#id-label, #pwd-label {
    color: #FFC860;
    margin-top: 20px;
}
#id-input, #pwd-input {
    width: 45%;
    height: 50px;
    border-radius: 20px;
}

#login-button {
    width: 45%;
    height: 60px;
    border-radius: 20px;
    background-color: #FFC860;
    margin-top: 3%;
    color: black;
    font-size: medium;
    font-weight: bold;
}

#login-with-text {
    text-align: center;
    color: #FFC860;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
}

#login-with {
    display: flex;
    justify-content: center;
}

#line {
    margin-top: 2%;
    width: 15%;
}

.login-with-btn {
    display: flex;
    justify-content: center;
}

.login-with-naver, .login-with-kakao {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 20px;
}

.login-with-naver {
    background-image: url(../../assets/image/naver-icon.png);
    background-size: cover;
}

#find-id-pwd {
    display: flex;
    justify-content: center;
}

#find-id-pwd > p {
    color: #FFC860;
    font-weight: bold;
}