#home {
    height: 100vh;
    width: 100vw;
    
}



.logo {
    width: 35%;
    height: 35%;
    margin-right:5%;
    margin-bottom: 5%;
}


.container {
    display: flex;
    flex-direction: row;
    color:#D9AA52;
    text-decoration-line:none;
    justify-content: center;
    place-items: center;
    background-color: #262626;
}

.menu {
    margin: 0 3px;
    color:#D9AA52;
    text-decoration-line: none;
    font-size: 0.9em;
    margin-right: 2%;
}

.logout {
    font-size: 0.9em;
    margin-right: 2%;
    cursor: pointer;
}