.dcontainer {
    width: 100vw;
    height: 150vh;
    background-color: #262626;
}


.dcontents {
    display: flex;
    margin-top: 15%;
    width: 30%;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center space-between;
}

.dcontents .backbtn {
    display: flex;
    justify-content: end;
    width:100%;
}

.bbtn {
    height: 30px;

}

.headtitle {
    font-size: 30px;
    font-weight: bold;
    color: #d9aa52
}


.drowgroup {
    width: 99%;
    height: 40px;
    /* margin-top: 5px; */
    border-radius: 20px;
    /* padding: 15px; */
    font-size: 20px;
    /* margin-bottom: 5px; */
}

.dsubtitle {
    color: #d9aa52;
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
}

.drowgroup .dinp {
    width: 99%;
    height: 40px;
    /* margin-top: 5px; */
    border: 1px solid #d9aa52;
    border-radius: 20px;
    /* padding: 5px; */
    font-size: 20px;
    /* margin-bottom: 10px; */
    color: white;
}



.positiongroup {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content:center;
}

.positiongroup .player {
    width: 90%;
    height: 100%;
    border: 1px solid;
    border-color: #d9aa52;
    border-radius: 20px;
    font-size: 1em;
    color: #d9aa52;
    text-align: center;
}

.positiongroup .player > p {
    margin: 0.3em;
    
}

.enroll {
    width: 90%;
    height: 18%;
    border-radius: 20px;
    color:#d9aa52
}

.dcontents .btngroup {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.dbtn {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    color: #d9aa52;
    margin: 5px 2px;
}

.pygroup {
    display: flex;
    width: 48%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.pygroup .pysubtitle {
    color: #d9aa52;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}

.dbtngroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.dbtngroup .dbtn {
    width: 49%
}