@font-face {
  font-family: 'kotra';
  src: url('../assets/fonts/KOTRA LEAP.ttf');
}

#about {
  background-color: #262626;
  width: 100vw;
  height: 200vh;
}

.about-container {
  font-family: 'kotra';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.about-container > h1 {
  color: #d9aa52;
}


.TTabout {
  width: 600px;
  height: 500px;
}


.about-explain {
  color: #d9aa52
}